<section class="main-login">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4  sidebar-img-login">
        <div class="block ">
          <div class="content-block sidebar-main">
            <h1>SEGURIDAD</h1>
            <p>Phasellus non lacus arcu. Donec odio nisi, faucibus sed eros et, posuere consectetur
              ante.
              Quisque vel magna sed lectus interdum dapibus. </p>

            <a href="">Contactar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="block">
          <div class="content-block  content-login">
            <img class="logo" src="./assets/img/logo.png" alt="" />
            <h1>¡Bienvenido!</h1>
            <p>Phasellus non lacus arcu. Donec odio nisi, faucibus sed eros et, posuere consectetur
              ante.
            </p>
            <form action="">
              <div class="form-group">
                <label for="">Correo o Usuario</label>
                <input class="form-control" type="text" />
              </div>
              <div class="form-group">
                <label for="">Contraseña</label>
                <input class="form-control" type="text" />
                <a class="right" for="">He olvidado mi contraseña</a>
              </div>

              <div class="form-group">
                <!-- <button onclick="location.href = '/home';" class="btn-envio">Ingresar</button> -->
                <button (click)="goToPage('/home', 123)" class="btn-envio">Ingresar</button>


                <!-- <a href="/home" class="btn-envio" >Ingresar</a> -->
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 footer">
        <img src="./assets/img/logo-gris.png" alt=""> &nbsp &nbsp &nbsp
        <p>Bolsa de Valores de El Salvador®. Todos los derechos reservado</p>
      </div>
    </div>
  </div>
</footer>