<section class="error">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="block">
          <img src="./assets/img/logo.png" alt="">



          <div class="show-error">
            <h1>500</h1>
            <p>ERROR SERVER</p>
          </div>

          <div class="description-error">
            <h1>Tenemos un problema al carga la página</h1>
            <p>
              Intenta de nuevo y si el problema persiste comunicate con nuestro equipo de soporte al 0000 0000
            </p>
          </div>

          <div class="action-button">
            <button class="btn-green">
              Recargar página
            </button>
            <button class="btn-transparent">
              Reportar diagnóstico
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>