<section class="market content-padd">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <ul>
          <li>
            <div class="content">
              <img *ngIf="tabIndex === 0" src="./assets/img/file-document-plus-orange.svg" alt="">
              <img *ngIf="tabIndex === 1" src="./assets/img/file-document-plus.svg" alt="">
              <label for="">

                <ejs-tooltip #tooltip id="tooltip" position='BottomCenter' class="ui-tooltip" cssClass="ui-tooltip">
                  <ng-template #content>
                    <div>
                      <ul class="list-tooltip">
                        <li>
                          <label class="text-11" for="">Estado:</label> <label class="text-2" for="">Abierto</label>
                        </li>
                        <li>
                          <label class="text-11" for="">Porcentaje de Comisión:</label>
                          <label class="text-2" for="">12%</label>
                        </li>
                        <li>
                          <label class="text-11" for="">Hora cierre:</label>
                          <label class="text-2" for="">3:00 pm</label>
                        </li>
                      </ul>
                    </div>
                  </ng-template>
                  <input ejs-button type="button" class="text" id="Title" value="Mercado Primario" />
                </ejs-tooltip>
              </label> <label for="">03:00 hr</label>
              <div class="circle"></div>
            </div>
          </li>
          <li>
            <div class="content">
              <img *ngIf="tabIndex === 0" src="./assets/img/file-document-orange.svg" alt="">
              <img *ngIf="tabIndex === 1" src="./assets/img/file-document.svg" alt="">
              <label for="">

                <ejs-tooltip #tooltip id="tooltip" position='BottomCenter' class="ui-tooltip" cssClass="ui-tooltip">
                  <ng-template #content>
                    <div>
                      <ul class="list-tooltip">
                        <li>
                          <label class="text-11" for="">Estado:</label> <label class="text-2" for="">Abierto</label>
                        </li>
                        <li>
                          <label class="text-11" for="">Porcentaje de Comisión:</label>
                          <label class="text-2" for="">12%</label>
                        </li>
                        <li>
                          <label class="text-11" for="">Hora cierre:</label>
                          <label class="text-2" for="">3:00 pm</label>
                        </li>
                      </ul>
                    </div>
                  </ng-template>
                  <input ejs-button type="button" class="text" id="Title" value="Mercado Primario" />
                </ejs-tooltip>
              </label> <label for="">03:00
                hr</label>
              <div class="circle"></div>
            </div>
          </li>
          <li>
            <div class="content">
              <img src="./assets/img/earth.svg" alt=""> <label for="">
                <ejs-tooltip #tooltip id="tooltip" position='BottomCenter' class="ui-tooltip" cssClass="ui-tooltip">
                  <ng-template #content>
                    <div>
                      <ul class="list-tooltip">
                        <li>
                          <label class="text-11" for="">Estado:</label> <label class="text-2" for="">Abierto</label>
                        </li>
                        <li>
                          <label class="text-11" for="">Porcentaje de Comisión:</label>
                          <label class="text-2" for="">12%</label>
                        </li>
                        <li>
                          <label class="text-11" for="">Hora cierre:</label>
                          <label class="text-2" for="">3:00 pm</label>
                        </li>
                      </ul>
                    </div>
                  </ng-template>
                  <input ejs-button type="button" class="text" id="Title" value="Mercado Primario" />
                </ejs-tooltip>
              </label> <label for="">03:00
                hr</label>
              <div class="circle"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>