section.dashboard body,
section.dashboard html {
  margin: 0;
  font-family: arial;
  height: 100vh;
  background: #ccc;
}

section.dashboard *,
section.dashboard *:before,
section.dashboard *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section.dashboard .nav-mobile:after {
  content: "";
  display: table;
  clear: both;
}

section.dashboard .nav-mobile svg {
  height: 45px;
  width: 65px;
  padding: 9px;
}

section.dashboard .nav-mobile svg path {
  fill: #5a5a5a;
}

section.dashboard .nav-mobile svg.icon-close {
  display: none;
  padding: 15px;
}

section.dashboard .nav-mobile li {
  width: 100%;
  height: 59px;
  line-height: 46px;
  text-align: center;
  float: left;
}

section.dashboard .nav-mobile li a {
  display: block;
  color: #333;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-family: Lato;
}

section.dashboard .nav-mobile .menu-button {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  display: block;
}

section.dashboard .nav-mobile .menu-button:after {
  opacity: 0;
  top: 59px;
  content: "";
  width: 100vw;
  display: block;
  position: fixed;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  content: "";
  pointer-events: none;
  -webkit-transition: opacity 0.2s cubic-bezier(0, 0, 0.3, 1);
  transition: opacity 0.2s cubic-bezier(0, 0, 0.3, 1);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

section.dashboard .nav-mobile #menu-toggle {
  display: none;
}

section.dashboard .nav-mobile #menu-toggle.active ~ .menu-button .icon-close,
section.dashboard .nav-mobile #menu-toggle:checked ~ .menu-button .icon-close {
  display: block;
}

section.dashboard .nav-mobile #menu-toggle.active ~ .menu-button .icon-open,
section.dashboard .nav-mobile #menu-toggle:checked ~ .menu-button .icon-open {
  display: none;
}

section.dashboard .nav-mobile #menu-toggle.active ~ .menu-button:after,
section.dashboard .nav-mobile #menu-toggle:checked ~ .menu-button:after {
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
  transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
}

section.dashboard .nav-mobile #menu-toggle.active ~ .menu-sidebar,
section.dashboard .nav-mobile #menu-toggle:checked ~ .menu-sidebar {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 0, 0.3, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0, 0, 0.3, 1);
  transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
  transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.3, 1);
}

section.dashboard .nav-mobile .menu-container {
  width: 65px;
  float: left;
  cursor: pointer;
}

section.dashboard .nav-mobile .menu-container .menu-sidebar {
  -webkit-box-shadow: 5px 0 5px -5px #333;
          box-shadow: 5px 0 5px -5px #333;
  display: block;
  width: 65vw;
  bottom: 0;
  background: white;
  color: #333;
  position: fixed;
  -webkit-transform: translateX(-405px);
          transform: translateX(-405px);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 0, 0.3, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0, 0, 0.3, 1);
  transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
  transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.3, 1);
  top: 59px;
  z-index: 2;
  list-style-type: none;
  padding: 0;
  max-width: 400px;
  left: 0px;
}

section.dashboard .nav-mobile .menu-container .menu-sidebar .arrow {
  position: absolute;
  line-height: 50px;
  font-size: 32px;
  color: #555;
  top: 0;
  z-index: 0;
}

section.dashboard .nav-mobile .menu-container .menu-sidebar .arrow.left {
  left: 25px;
}

section.dashboard .nav-mobile .menu-container .menu-sidebar .arrow.right {
  right: 25px;
}

section.dashboard .nav-mobile .menu-container .menu-sidebar li {
  height: 55px;
  line-height: 55px;
  font-size: 16px;
  text-align: left;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 20px;
}

section.dashboard .nav-mobile .menu-container .menu-sidebar li:hover {
  background: #eee;
}

section.dashboard .nav-mobile .menu-container .menu-sidebar li .menu-sub {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  overflow: hidden;
  background: white;
  visibility: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  border-left: 1px solid #ccc;
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 2;
  max-width: 400px;
}

section.dashboard .nav-mobile .menu-container .menu-sidebar li .menu-sub li {
  overflow: hidden;
}

section.dashboard .nav-mobile .menu-container .menu-sidebar li .menu-sub .menu-sub-title {
  padding-left: 50px;
}

section.dashboard .nav-mobile .menu-container .menu-sidebar li .submenu-label {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: block;
}

section.dashboard .nav-mobile .menu-container .menu-sidebar li .submenu-toggle {
  display: none;
}

section.dashboard .nav-mobile .menu-container .menu-sidebar li .submenu-toggle.active ~ .menu-sub,
section.dashboard .nav-mobile .menu-container .menu-sidebar li .submenu-toggle:checked ~ .menu-sub {
  width: 65vw;
  visibility: visible;
  z-index: 1;
  -webkit-transition: width 0.35s cubic-bezier(0, 0, 0.3, 1);
  transition: width 0.35s cubic-bezier(0, 0, 0.3, 1);
}

section.dashboard header {
  height: 59px;
  border: solid 1px #dfdfdf;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0%;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}

section.dashboard header .column_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.dashboard header .column_one ul {
  list-style: none;
}

section.dashboard header .column_one img {
  width: 91px;
}

section.dashboard header .column_two ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.dashboard header .column_two ul li {
  display: inline-block;
}

section.dashboard header .column_two ul li:nth-child(1) {
  width: 115px;
  padding: 0px 15px;
}

section.dashboard header .column_two ul li:nth-child(1) div {
  text-align: right;
}

section.dashboard header .column_two ul li:nth-child(1) div label:nth-child(1) {
  font-family: Lato;
  font-size: 18px;
  color: #5a5a5a;
  display: block;
}

section.dashboard header .column_two ul li:nth-child(1) div label:nth-child(2) {
  font-family: Lato;
  font-size: 10px;
  color: #5a5a5a;
}

section.dashboard header .column_two ul li:nth-child(2) {
  width: 74px;
  height: 59px;
  border: solid 1px #dfdfdf;
  background-color: #ffffff;
}

section.dashboard header .column_two ul li:nth-child(3) {
  width: 74px;
  height: 59px;
  border-top: solid 1px #dfdfdf;
  border-right: solid 1px #dfdfdf;
  border-bottom: solid 1px #dfdfdf;
  background-color: #ffffff;
}

section.dashboard header .column_two ul li {
  width: 120px;
  height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5a5a5a;
}

section.dashboard header .column_two ul li .bell {
  width: 22px;
  height: 22px;
  -o-object-fit: contain;
     object-fit: contain;
}

section.dashboard header .column_two ul li .circle {
  width: 40px;
  height: 40px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 100%;
}

section.dashboard header .column_two ul li .block {
  width: 15.9px;
  height: 16px;
  -o-object-fit: contain;
     object-fit: contain;
}

section.dashboard section.market {
  height: 51px;
  border-bottom: solid 1px #dfdfdf;
  background-color: #feffff;
  padding: 0px 8%;
}

section.dashboard section.market ul {
  list-style: none;
  height: 51px;
}

section.dashboard section.market ul li {
  display: inline-block;
  height: 51px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 10px;
}

section.dashboard section.market ul li .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 240px;
  height: 51px;
}

section.dashboard section.market ul li .content label {
  padding: 0px 10px;
  font-family: Lato;
  font-size: 12px;
  font-weight: 600;
  color: #5a5a5a;
}

section.dashboard section.market ul li .circle {
  width: 7px;
  height: 7px;
  background-color: #009444;
  border-radius: 100%;
}

section.dashboard .main {
  margin-top: 59px;
  position: relative;
  z-index: 0;
}
/*# sourceMappingURL=dashboard.css.map */