section.dashboard {

  body,
  html {
    margin: 0;
    font-family: arial;
    height: 100vh;
    background: #ccc;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  .nav-mobile {



    &:after {
      content: "";
      display: table;
      clear: both;
    }

    svg {
      height: 45px;
      width: 65px;
      padding: 9px;

      path {
        fill: #5a5a5a;
      }

      &.icon-close {
        display: none;
        padding: 15px;
      }
    }

    li {
      width: 100%;
      height: 59px;
      line-height: 46px;
      text-align: center;
      float: left;

      a {
        display: block;
        color: #333;
        width: 100%;
        height: 100%;
        text-decoration: none;
        font-family: Lato;
      }
    }

    .menu-button {
      // position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      cursor: pointer;
      display: block;

      &:after {
        opacity: 0;
        top: 59px;
        content: "";
        width: 100vw;
        display: block;
        position: fixed;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        content: "";
        pointer-events: none;
        transition: opacity 0.2s cubic-bezier(0, 0, 0.3, 1);
        transition-delay: 0.1s;
      }
    }

    #menu-toggle {
      display: none;

      &.active~.menu-button,
      &:checked~.menu-button {
        .icon-close {
          display: block;
        }

        .icon-open {
          display: none;
        }

        &:after {
          opacity: 1;
          pointer-events: auto;
          transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
        }
      }

      &.active~.menu-sidebar,
      &:checked~.menu-sidebar {
        transform: translateX(0);
        transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
      }
    }

    .menu-container {
      width: 65px;
      float: left;
      cursor: pointer;

      .menu-sidebar {
        box-shadow: 5px 0 5px -5px #333;
        display: block;
        width: 65vw;
        bottom: 0;
        background: white;
        color: #333;
        position: fixed;
        transform: translateX(-405px);
        transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
        top: 59px;
        z-index: 2;
        list-style-type: none;
        padding: 0;
        max-width: 400px;
        left: 0px;

        .arrow {
          position: absolute;
          line-height: 50px;
          font-size: 32px;
          color: #555;
          top: 0;
          z-index: 0;

          &.left {
            left: 25px;
          }

          &.right {
            right: 25px;
          }
        }

        li {
          height: 55px;
          line-height: 55px;
          font-size: 16px;
          text-align: left;
          position: relative;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          padding-left: 20px;

          &:hover {
            background: #eee;
          }

          .menu-sub {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            width: 0;
            overflow: hidden;
            background: white;
            visibility: hidden;
            transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
            border-left: 1px solid #ccc;
            list-style-type: none;
            padding: 0;
            margin: 0;
            z-index: 2;
            max-width: 400px;

            li {
              overflow: hidden;
            }

            .menu-sub-title {
              padding-left: 50px;
            }
          }

          .submenu-label {
            cursor: pointer;
            width: 100%;
            height: 100%;
            display: block;
          }

          .submenu-toggle {
            display: none;

            &.active~.menu-sub,
            &:checked~.menu-sub {
              width: 65vw;
              visibility: visible;
              z-index: 1;
              transition: width 0.35s cubic-bezier(0, 0, 0.3, 1);
            }
          }
        }
      }
    }
  }

  header {
    height: 59px;
    border: solid 1px #dfdfdf;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;

    .column_one {
      display: flex;
      align-items: center;

      ul {
        list-style: none;
      }

      img {
        width: 91px;
        // height: 28px;
        // object-fit: contain;
      }
    }

    .column_two {
      ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
          display: inline-block;
        }

        li:nth-child(1) {
          width: 115px;
          padding: 0px 15px;

          div {

            text-align: right;

            label:nth-child(1) {
              font-family: Lato;
              font-size: 18px;
              color: #5a5a5a;
              display: block;
            }

            label:nth-child(2) {
              font-family: Lato;
              font-size: 10px;
              color: #5a5a5a;
            }


          }
        }

        li:nth-child(2) {
          width: 74px;
          height: 59px;
          border: solid 1px #dfdfdf;
          background-color: #ffffff;
        }

        li:nth-child(3) {
          width: 74px;
          height: 59px;
          border-top: solid 1px #dfdfdf;
          border-right: solid 1px #dfdfdf;
          border-bottom: solid 1px #dfdfdf;
          background-color: #ffffff;
        }

        li:nth-child(4) {
          img {
            width: 43px;
            height: 42px;
            object-fit: contain;
          }
        }

        li:nth-child(5) {
          width: 120px;

        }


        li {
          width: 74px;
          height: 59px;
          display: flex;
          align-items: center;
          justify-content: center;

          font-family: Lato;
          font-size: 14px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #5a5a5a;

          .bell {
            width: 22px;
            height: 22px;
            object-fit: contain;
          }

          .circle {
            width: 40px;
            height: 40px;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
            border-radius: 100%;
          }

          .block {
            width: 15.9px;
            height: 16px;
            object-fit: contain;
          }
        }
      }
    }
  }

  section.content-padd {
    padding: 0px 3%;
  }

  section.market {
    height: 51px;
    border-bottom: solid 1px #dfdfdf;
    background-color: #feffff;


    ul {
      list-style: none;
      height: 51px;


      li {
        display: inline-block;
        height: 51px;
        align-items: center;
        justify-content: center;
        padding: 0px 10px;

        .content {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 240px;
          height: 51px;

          label {
            padding: 0px 10px;

            font-family: Lato;
            font-size: 12px;
            font-weight: 600;
            color: #5a5a5a;
          }
        }

        .circle {
          width: 7px;
          height: 7px;
          background-color: #009444;
          border-radius: 100%;
        }
      }
    }
  }

  .main {
    // top: 59px;
    margin-top: 41px;
    position: relative;
    z-index: 0;
  }




  .content-group {
    // height: 181px; 
    border-radius: 5px;
    // border: solid 1px #dfdfdf;
    background-color: #fbfbfc;

    margin: 35px 0px;

    .head-group {
      padding: 15px 10px;
      border-bottom: solid 1px #dfdfdf;

      label {
        font-family: Lato;
        font-size: 16px;
        font-weight: 600;
        color: #5a5a5a;
      }
    }

    .body-group {
      padding: 25px;

      form {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90px;

        .form-group {
          margin: 5px;
          width: calc(100% / 6);

          label {
            font-family: Lato;
            font-size: 12px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #a8a8a8;

            strong {
              color: #5a5a5a;
            }
          }
        }
      }

      .btn-submit {
        text-align: right;
        margin: 14px 5px;
      }
    }
  }

}

@media only screen and (max-width: 980px) {
  section.dashboard {
    section.market {
      height: auto;

      ul {
        height: auto;
      }
    }
  }
}