<!-- Agregamos el parametro el cual nos hace saber el color que debemos mostrar dentro del market-->
<app-market [tabIndex]="tabIndex"></app-market>
<section class="breadcrumb">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <ul>
          <li>
            <a href=""> Estado 1 </a><img src="../../assets/img/chevron-down.svg" alt="">
          </li>
          <li>
            <a href=""> Estado 2</a><img src="../../assets/img/chevron-down.svg" alt="">
          </li>
          <li>
            <a class="active" href=""> Pantalla de Detalle</a><img src="../../assets/img/chevron-down.svg" alt="">
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="detalle">
  <div class="container">
    <!-- Titulo -->
    <div class="row titulo-detalle">
      <div class="col-lg-6">
        <div class="block">
          <div class="content-block">
            <h1>Nombre de Usuario</h1>
            <h2>Nombre de la Compañia</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="block right-Justify">
          <button ejs-button cssClass="e-link btn-ui btn-secundario">Link</button>
        </div>
      </div>
    </div>
    <!-- Fin titulo -->

    <div class="row">
      <div class="col-lg-12">
        <div class="important-information">
          <ul class="">
            <li>
              <div>
                <label for="">
                  Información importante 1
                </label>
                <br>
                <strong>
                  Campo para mostrar resultado
                </strong>
              </div>
            </li>
            <li>
              <div>
                <label for="">
                  Información importante 2
                </label>
                <br>
                <strong>
                  Campo para mostrar resultado
                </strong>
              </div>
            </li>
            <li>
              <div>
                <label for="">
                  Información importante 3
                </label>
                <br>
                <strong>
                  Campo para mostrar resultado
                </strong>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Cuerpo detalle-->
    <div class="row content-detail">
      <div class="col-lg-4">
        <div class="row ">
          <div class="col-lg-12">
            <div class="text-middle-line">
              <h2><span>OPERACIÓN</span></h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-12 marg-separate-top-and-bottom">
                <label for="">
                  Tipo de operación
                </label>
                <strong>
                  Seleccionar tipo de operación
                </strong>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 marg-separate-top-and-bottom">
                <label for="">
                  Tipo de mercado
                </label>
                <strong>
                  M2
                </strong>
              </div>
              <div class="col-lg-6 marg-separate-top-and-bottom">
                <label for="">
                  Interversión de promotor
                </label>
                <strong>
                  Si
                </strong>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 marg-separate-top-and-bottom">
                <label for="">
                  Fecha de operación
                </label>
                <strong>
                  09/07/2019
                </strong>
              </div>
              <div class="col-lg-6 marg-separate-top-and-bottom">
                <label for="">
                  Plazo de operación (días)
                </label>
                <strong>
                  3
                </strong>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 marg-separate-top-and-bottom">
                <label for="">
                  Modelo de operación
                </label>
                <strong>
                  Seleccionar modelo de operación
                </strong>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row ">
          <div class="col-lg-12">
            <div class="text-middle-line">
              <h2><span>INFORMACIÓN DEL CORREDOR</span></h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 column-border">
            <div class="row">
              <div class="col-lg-12 marg-separate-top-and-bottom">
                <label for="">
                  Corredor
                </label>
                <strong>
                  Nombre del Corredor
                </strong>
              </div>
              <div class="col-lg-12 marg-separate-top-and-bottom">
                <label for="">
                  Título
                </label>
                <strong>
                  Tipo de Título
                </strong>
              </div>
              <div class="col-lg-12 marg-separate-top-and-bottom">
                <label for="">
                  Serie
                </label>
                <strong>
                  XXXXX XXXX XXX XXXXX
                </strong>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 marg-separate-top-and-bottom">
                <label for="">
                  Precio
                </label>
                <strong>
                  $902,920.30
                </strong>
              </div>
              <div class="col-lg-6 marg-separate-top-and-bottom">
                <label for="">
                  Valor nominal
                </label>
                <strong>
                  $4,493,493.00
                </strong>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 marg-separate-top-and-bottom">
                <label for="">
                  Moneda
                </label>
                <strong>
                  Dólar Estaunidense
                </strong>
              </div>
              <div class="col-lg-6 marg-separate-top-and-bottom">
                <label for="">
                  Tasa de cambio
                </label>
                <strong>
                  10%
                </strong>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 marg-separate-top-and-bottom">
                <label for="">
                  Valor Transado
                </label>
                <strong>
                  $1,000,890.00
                </strong>
              </div>
              <div class="col-lg-6 marg-separate-top-and-bottom">
                <label for="">
                  Comisión
                </label>
                <strong>
                  13%
                </strong>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row ">
          <div class="col-lg-12">
            <div class="text-middle-line">
              <h2><span>INFORMACIÓN CLIENTE</span></h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-12 marg-separate-top-and-bottom">
                <label for="">
                  Cta. CEDEVAL
                </label>
                <strong>
                  9040 8430 0303 3302
                </strong>
              </div>
              <div class="col-lg-12 marg-separate-top-and-bottom">
                <label for="">
                  Código de Cliente
                </label>
                <strong>
                  904 343 33 2930
                </strong>
              </div>
              <div class="col-lg-12 marg-separate-top-and-bottom">
                <label for="">
                  Tipo de Cliente
                </label>
                <strong>
                  Tipo de cliente
                </strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>