<section class="dashboard">
  <div class="wrapper">
    <!-- Sidebar  -->
    <!-- aqui hare el toggle de la clase para poder expandir el sidebar -->
    <nav id="sidebar" class="mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar " [ngClass]="status ? 'active' : ''">
      <div class="sidebar-header">
        <h3>Menú</h3>
      </div>


      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

      <div class="nav-side-menu">
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

          <ul id="menu-content" class="menu-content collapse out">


            <li data-toggle="collapse" data-target='#Library' class="collapsed">
              <a href='#'>
                <i class=''></i> Library
                <span class="arrow"></span>
              </a>
            </li>
            <ul id='Library' class='sub-menu collapse'>
              <li data-toggle='collapse' data-target='#submenu1' class='collapsed'>
                <a href='#'>Booking <span class='arrow'></span></a>
              </li>
              <ul id='submenu1' class='sub-menu collapse'>
                <li><a href='#'>Make Booking</a></li>
                <li><a href='#'>Modify Booking</a></li>
                <li><a href='#'>Cancel Booking</a></li>
                <li>
                  <a href='#'>View booking history and blacklist
                    scores</a>
                </li>
              </ul>
            </ul>

            <li data-toggle="collapse" data-target='#submenu2' class="collapsed">
              <a href='#'>
                <i class=''></i>
                PC Lab
                <span class="arrow"></span>
              </a>
            </li>

            <ul id='submenu2' class='sub-menu collapse'>
              <li data-toggle='collapse' data-target='#3100' class='collapsed'>
                <a href='#'>Booking <span class='arrow'></span>
                </a>
                <ul id='3100' class='sub-menu collapse'>
                  <li><a href='#'>Make Booking</a></li>
                  <li><a href='#'>Modify Booking</a></li>
                  <li><a href='#'>Cancel Booking</a></li>
                  <li>
                    <a href='#'>View booking history and blacklist
                      scores</a>
                  </li>
                </ul>
              </li>

            </ul>

            <li data-toggle="collapse" data-target='#submenu3' class="collapsed">
              <a href='#'>
                <i class=''></i>
                Multi purpose Hall<span class="arrow"></span>
              </a>
            </li>
            <ul id='submenu3' class='sub-menu collapse'>
              <li data-toggle='collapse' data-target='#4100' class='collapsed'><a href='#'>Booking <span
                    class='arrow'></span></a></li>
              <ul id='4100' class='sub-menu collapse'>
                <li><a href='#'>Make Booking</a></li>
                <li><a href='#'>Cancel Booking On Cashier Payment</a></li>
              </ul>
            </ul>

            <li data-toggle="collapse" data-target='#PCLab' class="collapsed">
              <a class="nav-link register-custom" (click)="onTabClick(0)">
                <i class=''></i>
                HOME
                <span class="arrow"></span>
              </a>
            </li>

            <li data-toggle="collapse" data-target='#PCLab' class="collapsed">
              <a class="nav-link register-custom" (click)="onTabClick(1)">
                <i class=''></i>
                UI/KIT<span class="arrow"></span>
              </a>
            </li>

            <li data-toggle="collapse" data-target='#PCLab' class="collapsed">
              <a class="nav-link register-custom" (click)="onTabClick(2)">
                <i class=''></i>
                ERROR

                <span class="arrow"></span>
              </a>
            </li>

            <li data-toggle="collapse" data-target='#PCLab' class="collapsed">
              <a class="nav-link register-custom" (click)="onTabClick(3)">
                <i class=''></i>
                DETALLE
                <span class="arrow"></span>
              </a>
            </li>

            <li data-toggle="collapse" data-target='#PCLab' class="collapsed">
              <a class="nav-link register-custom" (click)="onTabClick(4)">
                <i class=''></i>
                REGISTRO
                <span class="arrow"></span>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Content  -->
    <!-- aqui hare el toggle de la clase para poder expandir el sidebar -->
    <div id="content" [ngClass]="status ? 'active' : ''">
      >
      <header>
        <div class="column_one">
          <div class="hamburguer-menu">
            <button type="button" id="sidebarCollapse" (click)="toggle_sidebar()" class="btn">
              <i class="fas fa-align-left"></i>
            </button>

            <!-- <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <i class="fas fa-align-justify"></i>
            </button> -->
          </div>

          <a (click)="onTabClick(0)">
            <img src="./assets/img/logo.png" alt="" />
          </a>
        </div>
        <div class="column_two" [ngClass]="status ? ' ' : 'active_sidebar'">
          <ul>
            <li>
              <div>
                <label for="">09:45 am</label>
                <label for="">Mar 13 agost 2019</label>
              </div>
            </li>
            <li class="nav-item-dropdown">

              <a class="dropdown-trigger" href="#">
                <img class="bell" src="./assets/img/bell.png" alt="" />
                <!-- Notification Badge -->
                <span
                  class="e-badge e-badge-primary e-badge-overlap e-badge-notification e-badge-circle ui-badget-red ">6</span>
              </a>
              <div class="dropdown-menu  ui-tooltip-notification ">
                <ul class=" list">
                  <li class="dropdown-menu-item">
                    <div>
                      <strong>First Notification</strong>
                      <br />
                      <label for="">Peticiones de Modificacion Pendiente</label>
                      <hr />
                    </div>
                  </li>
                  <li class="dropdown-menu-item">
                    <div>
                      <strong>First Notification</strong>
                      <br />
                      <label for="">Peticiones de Modificacion Pendiente</label>
                      <hr />
                    </div>
                  </li>
                  <li class="dropdown-menu-item">
                    <div>
                      <strong>First Notification</strong>
                      <br />
                      <label for="">Peticiones de Modificacion Pendiente</label>
                      <hr />
                    </div>
                  </li>
                  <li class="dropdown-menu-item">
                    <div class="block-2">
                      <ul class="all-list">
                        <li>
                          <a href="">Ver todas las Notificaciones </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>

            </li>
            <li class="nav-item-dropdown">
              <a class="dropdown-trigger" href="#">
                <img class="block" src="./assets/img/frame.png" alt="" />
              </a>

              <div class=" dropdown-menu ui-tooltip-app">
                <ul class="list-tooltip-app">
                  <li>
                    <div>
                      <a href=""><img class="block" src="./assets/img/frame_white.svg" alt="" /></a>
                      <br />
                      <label for="">Nombre App</label>
                    </div>
                  </li>
                  <li>
                    <div>
                      <a href=""><img class="block" src="./assets/img/frame_white.svg" alt="" /></a>
                      <br />
                      <label for="">Nombre App</label>
                    </div>
                  </li>
                  <li>
                    <div>
                      <a href=""><img class="block" src="./assets/img/frame_white.svg" alt="" /></a>
                      <br />
                      <label for="">Nombre App</label>
                    </div>
                  </li>
                </ul>
                <ul class="list-tooltip-app">
                  <li>
                    <div>
                      <a href=""><img class="block" src="./assets/img/frame_white.svg" alt="" /></a>
                      <br />
                      <label for="">Nombre App</label>
                    </div>
                  </li>
                  <li>
                    <div>
                      <a href=""><img class="block" src="./assets/img/frame_white.svg" alt="" /></a>
                      <br />
                      <label for="">Nombre App</label>
                    </div>
                  </li>
                  <li>
                    <div>
                      <a href=""><img class="block" src="./assets/img/frame_white.svg" alt="" /></a>
                      <br />
                      <label for="">Nombre App</label>
                    </div>
                  </li>
                </ul>
                <ul class="list-tooltip-app">
                  <li>
                    <div>
                      <a href=""><img class="block" src="./assets/img/frame_white.svg" alt="" /></a>
                      <br />
                      <label for="">Nombre App</label>
                    </div>
                  </li>
                  <li>
                    <div>
                      <a href=""><img class="block" src="./assets/img/frame_white.svg" alt="" /></a>
                      <br />
                      <label for="">Nombre App</label>
                    </div>
                  </li>
                  <li>
                    <div>
                      <a href=""><img class="block" src="./assets/img/frame_white.svg" alt="" /></a>
                      <br />
                      <label for="">Nombre App</label>
                    </div>
                  </li>
                </ul>
              </div>

            </li>
            <li class="nav-item-dropdown">

              <div class="user-name dropdown-trigger  ">
                <img src=" ./assets/img/ico-logo-emp.svg" alt="" />
                <label for="">Carlos Martinez</label>
              </div>

              <div class="content-user dropdown-menu  ui-tooltip-logout">
                <div class="block-1">
                  <ul class="user">
                    <li>
                      <img src="./assets/img/ico-logo-emp.svg" alt="" />
                    </li>
                    <li>
                      <div>
                        <strong>Carlos Martinez</strong>
                        <br />
                        <label for="">Banco Atlántida</label>
                      </div>
                    </li>
                  </ul>
                </div>
                <div>
                  <hr />
                </div>
                <div class="block-2">
                  <a href="/login">
                    <ul class="user">
                      <li>
                        <img src="./assets/img/logout.svg" alt="" />
                      </li>
                      <li>
                        <label for="">Cerrar Sesión</label>
                      </li>
                    </ul>
                  </a>
                </div>
              </div>



            </li>
            <li></li>
          </ul>
        </div>
      </header>

      <section class="main">
        <div class="main-content">
          <!-- <div [innerHTML]="toShow"></div> -->

          <!-- Aqui es donde mostramos los componentes, dentro del main content-->

          <!-- usamos la variable para validar "tabIndex"  si está en 0 mostrará el componente app-home, si es 1 mostrarâ el componente app-uikit y si es 2 mostrarâ dentro del div el contenido de nusestro micro modulo -->

          <!-- Component -->
          <app-home *ngIf="tabIndex === 0"></app-home>
          <app-uikit *ngIf="tabIndex === 1"></app-uikit>
          <!-- Fin Component -->

          <!--Micro modulo-->
          <div *ngIf="tabIndex === 2" [innerHTML]="toShow"></div>
          <!-- Fin Micro modulo-->

          <!-- Component -->
          <app-detail *ngIf="tabIndex === 3"></app-detail>
          <app-registry *ngIf="tabIndex === 4"></app-registry>
          <!-- Fin Component -->

          <!-- Fin main content-->
        </div>

        <div class="sidebar-right">
          <div>
            <ul>
              <li>
                <a class="circle-blue" (click)="onTabClicksidebarleft(0)">
                  <img src="./assets/img/frame_white.svg" alt="" />
                </a>
              </li>
              <li>
                <a class="circle-blue" (click)="onTabClicksidebarleft(3)">
                  <img src="./assets/img/frame_white.svg" alt="" />
                </a>
              </li>
              <li>
                <a href="" class="circle-blue">
                  <img src="./assets/img/frame_white.svg" alt="" />
                </a>
              </li>
              <li>
                <a href="" class="circle-blue">
                  <img src="./assets/img/frame_white.svg" alt="" />
                </a>
              </li>
              <li>
                <a href="" class="circle-white">
                  <img src="./assets/img/ico-cruz.svg" alt="" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <footer>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 footer">
              <img src="./assets/img/logo-gris.png" alt="" />
              <p [innerHTML]="text"></p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</section>