<section class="market content-padd">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <ul>
          <li>
            <div class="content">
              <img *ngIf="tabIndex === 0" src="./assets/img/file-document-plus-orange.svg" alt="">
              <img *ngIf="tabIndex === 1" src="./assets/img/file-document-plus.svg" alt="">
              <label for="">

                <ejs-tooltip #tooltip id="tooltip" position='BottomCenter' class="ui-tooltip" cssClass="ui-tooltip">
                  <ng-template #content>
                    <div>
                      <ul class="list-tooltip">
                        <li>
                          <label class="text-11" for="">Estado:</label> <label class="text-2" for="">Abierto</label>
                        </li>
                        <li>
                          <label class="text-11" for="">Porcentaje de Comisión:</label>
                          <label class="text-2" for="">12%</label>
                        </li>
                        <li>
                          <label class="text-11" for="">Hora cierre:</label>
                          <label class="text-2" for="">3:00 pm</label>
                        </li>
                      </ul>
                    </div>
                  </ng-template>
                  <input ejs-button type="button" class="text" id="Title" value="Mercado Primario" />
                </ejs-tooltip>
              </label> <label for="">03:00 hr</label>
              <div class="circle"></div>
            </div>
          </li>
          <li>
            <div class="content">
              <img *ngIf="tabIndex === 0" src="./assets/img/file-document-orange.svg" alt="">
              <img *ngIf="tabIndex === 1" src="./assets/img/file-document.svg" alt="">
              <label for="">

                <ejs-tooltip #tooltip id="tooltip" position='BottomCenter' class="ui-tooltip" cssClass="ui-tooltip">
                  <ng-template #content>
                    <div>
                      <ul class="list-tooltip">
                        <li>
                          <label class="text-11" for="">Estado:</label> <label class="text-2" for="">Abierto</label>
                        </li>
                        <li>
                          <label class="text-11" for="">Porcentaje de Comisión:</label>
                          <label class="text-2" for="">12%</label>
                        </li>
                        <li>
                          <label class="text-11" for="">Hora cierre:</label>
                          <label class="text-2" for="">3:00 pm</label>
                        </li>
                      </ul>
                    </div>
                  </ng-template>
                  <input ejs-button type="button" class="text" id="Title" value="Mercado Primario" />
                </ejs-tooltip>
              </label> <label for="">03:00
                hr</label>
              <div class="circle"></div>
            </div>
          </li>
          <li>
            <div class="content">
              <img src="./assets/img/earth.svg" alt=""> <label for="">
                <ejs-tooltip #tooltip id="tooltip" position='BottomCenter' class="ui-tooltip" cssClass="ui-tooltip">
                  <ng-template #content>
                    <div>
                      <ul class="list-tooltip">
                        <li>
                          <label class="text-11" for="">Estado:</label> <label class="text-2" for="">Abierto</label>
                        </li>
                        <li>
                          <label class="text-11" for="">Porcentaje de Comisión:</label>
                          <label class="text-2" for="">12%</label>
                        </li>
                        <li>
                          <label class="text-11" for="">Hora cierre:</label>
                          <label class="text-2" for="">3:00 pm</label>
                        </li>
                      </ul>
                    </div>
                  </ng-template>
                  <input ejs-button type="button" class="text" id="Title" value="Mercado Primario" />
                </ejs-tooltip>
              </label> <label for="">03:00
                hr</label>
              <div class="circle"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="content-padd">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4">
        <div class="panel">
          <div>
            <div class="groupbuttons-venta" *ngIf="tabIndex === 0">
              <div class='e-btn-group'>
                <button ejs-button class="active" (click)="onTabClick(0)">Venta</button>
                <button ejs-button (click)="onTabClick(1)">Compra</button>
              </div>
            </div>
            <div class="groupbuttons-compra" *ngIf="tabIndex === 1">
              <div class='e-btn-group'>
                <button ejs-button (click)="onTabClick(0)">Venta</button>
                <button ejs-button class="active" (click)="onTabClick(1)">Compra</button>
              </div>
            </div>

            <br>
            <br>
            <h1>Consulta de Operaciones</h1>
            <div class=" block-amount block-compra" *ngIf="tabIndex === 1">
              <label for="">Total de Compra:</label> <strong>$2436,049,4940</strong>
            </div>
            <div class="block-amount block-venta" *ngIf="tabIndex === 0">
              <label for="">Total de venta:</label> <strong>$2436,049,4940</strong>
            </div>

            <div class="block-gray">
              <label for="">Total de Venta:</label> <strong>$2436,049,4940</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4">
        <div class="panel">
          <div id="container">
            <app-chart></app-chart>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4">
        <div class="panel">
          <div class="content-panel">
            <app-card class="ui-card "></app-card>
            <app-card class="ui-card "></app-card>
            <app-card class="ui-card "></app-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content-padd">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="content-group" [class.content-group-border-left-venta]="tabIndex=='0'"
          [class.content-group-border-left-compra]="tabIndex=='1'">
          <div class="head-group">
            <label for="">Filtrar</label>
          </div>
          <div class="body-group">
            <form action="">
              <div class="form-group">
                <label for=""><strong>Fecha</strong> <br> Inicial</label>
                <app-calendar class="ui-calendar"></app-calendar>
              </div>
              <div class="form-group">
                <label for=""> <strong></strong> <br>Final</label>
                <app-calendar class="ui-calendar"></app-calendar>
              </div>
              <div class="form-group">
                <label for=""><strong>Plazo</strong> <br> Desde</label>
                <app-input-number class="input-number"></app-input-number>
              </div>
              <div class="form-group">
                <label for=""><strong></strong> <br>Hasta</label>
                <app-input-number class="input-number"></app-input-number>
              </div>
              <div class="form-group">
                <label for=""><strong></strong> <br>Mercado</label>
                <app-dropdownlist class="dropdown"></app-dropdownlist>
              </div>
              <div class="form-group">
                <label for=""><strong></strong> <br>Cuenta CEDEVA</label>
                <app-textbox class="textbox"></app-textbox>
              </div>

            </form>
            <div class="btn-submit">
              <app-buttons class="btn-ui btn-primario"></app-buttons>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <app-grid class='custom-grid'></app-grid>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <br>
      </div>
    </div>
  </div>
</section>